<footer th:fragment="footer">
  &copy; 2021
  <a href="https://okdevtv.com" target="_blank" title="okdevtv">OKdevTV</a>
  <a href="https://github.com/kenu/okvote" target="_blank" title="github">GitHub</a>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-Y8B8EYJ799"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-Y8B8EYJ799');
  </script>
  <script
          src="https://browser.sentry-cdn.com/6.14.0/bundle.min.js"
          integrity="sha384-1FVbcJ5cSGdCrMNyUndHGSl0WlS+Cq5zaYdfnVF7NqkkQpU+7plvm0NomKbzcD//"
          crossorigin="anonymous"
  ></script>
  <script>
    Sentry.init({
      dsn: "https://0b0f94c36f7243f5ba67626fad97bac1@o1064669.ingest.sentry.io/6055741",
      tracesSampleRate: 1.0,
    });
  </script>
</footer>
