#wrap {
  width: 360px;
  margin: auto;
  border: 1px solid #666;
  padding: 3px;
}
h2 {
  margin-left: 8px;
  margin-bottom: 0;
}
.question {
  font-size: 1.4em;
  padding: 0 16px 10px;
  word-wrap: normal;
}
.answers {
  text-align: center;
}
.answer,
.login {
  width: 90%;
  box-sizing:content-box;
  border: 1px solid #eee;
  height: 2.5em;
  border-radius: 10px;
  margin: 2px;
}
.answered {
  width: 90%;
  box-sizing:content-box;
  border: 1px solid #eee;
  height: 2.5em;
  line-height: 2.5em;
  border-radius: 10px;
  margin: 2px;
}

#login-form {
  margin: 60px 0 160px;
  text-align: center;
}

#id {
  width: 90%;
  padding: 2px 6px;
  border: 1px solid #eee;
  height: 2.2em;
  border-radius: 10px;
  margin: 2px;
}

header,
footer {
  text-align: center;
}
footer {
  border-top: 1px dashed #ccc;
  margin-top: 30px;
  padding: 20px 0 10px;
}
