<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout.html}">

<head>
  <title>OkVote Home</title>
  <meta property="og:url" th:content="https://v.okdevtv.com/${qno}">
</head>

<body>
  <section layout:fragment="content">
    <div th:if = "${question == null}">
      <script>location.href = '/list';</script>
    </div>
    <div id="share"><input th:value="'https://v.okdevtv.com/' + ${id}" readonly></div>
    <form action="" method="post" id="form" onsubmit="return false;">
      <h2>Q</h2>
      <div class="question" th:text="${question}"></div>
      <h2>A</h2>
      <div class="answers">
        <button class="answer"
                th:each="a : ${answers}"
                th:text="${a.answer}"
                th:data-aid="${a.id}"
        >없다</button>
      </div>
      <input type="hidden" name="selected" id="selected">
    </form>
    <script>
      const buttons = document.querySelectorAll('.answer');
      buttons.forEach(button => {
        button.addEventListener('click', (evt) => {
          const el = evt.currentTarget;
          const selected = el.dataset.aid;
          document.getElementById("selected").value = selected;
          document.getElementById("form").submit();
        });
      });

      const el = document.querySelector('#share input');
      el.addEventListener('focus', (evt) => {
        const i = evt.currentTarget;
        i.select();
        const successful = document.execCommand('copy');
        if (successful) {
          alert('copied');
        };
        el.blur();
      });
    </script>
  </section>
</body>

</html>
