<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout.html}">

<head>
  <title>OkVote Home</title>
  <meta property="og:type" content="article">
  <meta property="og:site_name" content="OKKY">
  <meta property="og:url" content="https://okky.kr/article/1118213">
  <meta property="og:description" content=" 박사과정은 빠르고 정확하게 공부를 해야 하는 경우가 많습니다. 일례로, 제가 인턴을 나간 어떤 회사에서는 저에게 2주의 시간을 주며 한번도 해보지 않은 분야의 공부를 하고, 자신들에게 발표해서 가르쳐 달라고 하더라고요. (정확히는 XX 기술의 expert가 되어서 2주 후에 발표해줘! 였습니다…) 제가 각을 봤을 때 내용은 학부 3학점에서 6학점 사이의 ">
  <meta property="og:title" content="OKKY \| 빠르고 정확하게 공부하는 방법: 가르치기와 1차 자료 보기">
</head>

<body>
  <section layout:fragment="content">
    <div th:if = "${question == null}">
      <script>location.href = '/list';</script>
    </div>
    <div id="share"><input th:value="'https://v.okdevtv.com/' + ${id}" readonly></div>
    <form action="" method="post" id="form" onsubmit="return false;">
      <h2>Q</h2>
      <div class="question" th:text="${question}"></div>
      <h2>A</h2>
      <div class="answers">
        <button class="answer"
                th:each="a : ${answers}"
                th:text="${a.answer}"
                th:data-aid="${a.id}"
        >없다</button>
      </div>
      <input type="hidden" name="selected" id="selected">
    </form>
    <script>
      const buttons = document.querySelectorAll('.answer');
      buttons.forEach(button => {
        button.addEventListener('click', (evt) => {
          const el = evt.currentTarget;
          const selected = el.dataset.aid;
          document.getElementById("selected").value = selected;
          document.getElementById("form").submit();
        });
      });

      const el = document.querySelector('#share input');
      el.addEventListener('focus', (evt) => {
        const i = evt.currentTarget;
        i.select();
        const successful = document.execCommand('copy');
        if (successful) {
          alert('copied');
        };
        el.blur();
      });
    </script>
  </section>
</body>

</html>
