<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>OkVote</title>
</head>

<body>
  <div th:replace="fragments/header"></div>
  <section layout:fragment="content">
    <p>Page content goes here</p>
  </section>
  <div th:replace="fragments/footer"></div>
</body>

</html>
