<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout.html}">

<head>
  <title>목록</title>
</head>

<body>
  <section layout:fragment="content">

    <div class="question">Q 스프링 프레임워크는 자바를 몰라도 개발할 수 없다</div>

    <div class="question">Q 스프링 프레임워크는 자바를 몰라도 개발할 수 없다</div>

    <div class="question">Q 스프링 프레임워크는 자바를 몰라도 개발할 수 없다</div>

    <div class="question">Q 스프링 프레임워크는 자바를 몰라도 개발할 수 없다</div>

    <div class="question">Q 스프링 프레임워크는 자바를 몰라도 개발할 수 없다</div>

    <div class="question">Q 스프링 프레임워크는 자바를 몰라도 개발할 수 없다</div>
  </section>
</body>

</html>
